node_modules
.next
out
dist
.DS_Store
*.pem
.env
.env*.local
coverage
.vercel
prisma/*.db
prisma/*.db-journal
public/uploads/**
!public/uploads/.gitkeep
data/backups/**
!data/backups/.gitkeep
*.log
tsconfig.tsbuildinfo
